---
layout: base.njk
title: Literatura US
---
<section id="biblioteca" class="w-full max-w-7xl mx-auto py-8 px-4 sm:px-6 min-h-screen">
  <div class="mb-10 max-w-xl">
    <h1 class="title_style">Biblioteca Literatura US</h1>
    <p class="quote_style">
      "Esta página consistirá de una biblioteca personal: incluirá autores que creemos, como lectores, importantes. Se incluirán autores que muchos considerarán “menores” y se excluirán otros considerados “imprescindibles”. Toda antología es arbitraria e incompleta. Esta selección no es, entonces, una excepción."
    </p>
  </div>

  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
    {% for author in collections.authors %}
      <a href="content/authors/{{ author.slug }}/" class="postick_style">
        <div class="line_style"></div>
        <span class="text-base font-bold text-gray-900">{{ author.name }}</span>
        <span class="text-gray-300 ml-auto group-hover:text-blue-600 transition-colors duration-300">&rarr;</span>
      </a>
    {% endfor %}
  </div>
</section>
