{% extends "./base.njk" %}

{% block content %}
<article>
  <header class="p-2">
    <h1 class="title_style">{{ title }}</h1>
  </header>
  
  <div class="reader-content" id="reader-story">
    {{ content | safe }}
  </div>

  <hr>
  <p><a href="/content/authors/{{ tags[1] }}/" class="link_style">Volver al autor</a></p>
</article>
{% endblock %}


