{% extends "./base.njk" %}

{% block navbar %}
  <li><a href="/content/authors/{{ tags[1] }}/" class="link_style block px-4 py-3 sm:p-0">Volver al autor</a></li>
{% endblock %}

{% block content %}

{% set authorName = tags[1] %}
{% for author in collections.authors %}
  {% if author.slug == tags[1] %}
    {% set authorName = author.name %}
  {% endif %}
{% endfor %}

<article>
  <header data-pagefind-body data-pagefind-meta="author:{{ authorName }}" class="px-4 py-2 flex justify-center">
    <h1 class="title_style">{{ title }}</h1>
  </header>
  
  <div class="reader-content" id="reader-story">
    {{ content | safe }}
  </div>
</article>

{% endblock %}


